@{
    ViewData["Title"] = "Home Page";
}

<div id="hero" class="cls-bg-section mt-3">
    <div class="container py-5">
        <div class="row py-5 mt-3 flex-row-reverse">
            <div class="col-lg-6">

                <img src="~/imgs/banner.png" alt="ChromeRigs Hero Image" class="cls-image" />

            </div>
            <div class="col-lg-6 pe-4 mt-3">

                <div class="text-center text-lg-start">
                    <h1 class="cls-semi-purp">
                        Crafting Custom PCs,
                        Built for Performance.
                    </h1>

                    <p class="cls-more-semi-purp fw-bold">Your Dream Rig, Your Perfect Build.</p>

                    <button class="btn btn-chromerigs-color px-4 mt-2">Buy Custom PC</button>
                </div>

            </div>
        </div>
    </div>
</div>