@{
    ViewData["Title"] = "Home Page";
}

<div id="hero" class="cls-bg-section mt-3">
    <div class="container py-5">
        <div class="row py-5 mt-3 flex-row-reverse">
            <div class="col-lg-6">

                <img src="~/imgs/banner.png" alt="ChromeRigs Hero Image" class="cls-image" />

            </div>
            <div class="col-lg-6 pe-4 mt-3">

                <div class="text-center text-lg-start">
                    <h1 class="cls-semi-purp">
                        Crafting Custom PCs,
                        Built for Performance.
                    </h1>

                    <p class="cls-more-semi-purp fw-bold">Your Dream Rig, Your Perfect Build.</p>

                    <button class="btn btn-chromerigs-color px-4 mt-2 fw-bold">Buy Custom PC</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container py-5">

    <h5 style="opacity: 40%" class="fw-bold mb-1 text-center">Our Rigs</h5>
    <h4 style="opacity: 80%" class="fw-bold mb-5 text-center">Customers love our aesthetic PC builds</h4>

    <div id="carouselOurSetups" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselOurSetups" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselOurSetups" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselOurSetups" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/imgs/carousel1.png" class="d-block w-100" alt="PC Setup 1" />
            </div>
            <div class="carousel-item">
                <img src="~/imgs/carousel2.png" class="d-block w-100" alt="PC Setup 2" />
            </div>
            <div class="carousel-item">
                <img src="~/imgs/carousel3.png" class="d-block w-100" alt="PC Setup 3" />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselOurSetups" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselOurSetups" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>