@using ChromeRigs.MVC.Models.Orders
@using ChromeRigs.Utils.Enums
@model UpdateOrderViewModel

@{
    ViewData["Title"] = "Edit Order";
}

<div class="container">
    <h1>
        Edit Order
        <span class="text-primary">#@Model.Id</span>
    </h1>

    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-floating">
                    <select asp-for="CustomerId" class="form-control select-2" asp-items="@Model.CustomerLookup"></select>
                    <label asp-for="CustomerId" class="control-label"></label>
                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                </div>

                <div class="form-floating mt-3">
                    <select asp-for="PCIds" class="form-control select-2" asp-items="@Model.PCLookUp"></select>
                    <label asp-for="PCIds" class="control-label"></label>
                    <span asp-validation-for="PCIds" class="text-danger"></span>
                </div>

                <div class="form-floating mt-3">
                    <select asp-for="PaymentMethod" class="form-control select-2" asp-items="@Html.GetEnumSelectList<PaymentMethod>()"></select>
                    <label asp-for="PaymentMethod" class="control-label"></label>
                    <span asp-validation-for="PaymentMethod" class="text-danger"></span>
                </div>

                <div class="form-floating mt-3">
                    <input asp-for="Notes" class="form-control" placeholder="Notes" />
                    <label asp-for="Notes" class="control-label"></label>
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>

                <div class="form-check form-switch mt-3">
                    <input asp-for="IsPaid" class="form-check-input">
                    <label asp-for="IsPaid" class="form-check-label">Paid?</label>
                </div>

                <div class="form-group mt-4">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary ms-2">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
