html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*#region Select2 Overrides */

.select2-container .select2-selection--single {
    height: 58px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 58px !important;
    right: 10px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-top: 22px !important;
    padding-left: 12px !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #dee2e6 !important;
}

.select2-dropdown {
    border: 1px solid #dee2e6 !important;
}

.select2-container .select2-selection--multiple {
    min-height: 58px !important;
}

    .select2-container .select2-selection--multiple .select2-selection__rendered {
        display: inline-block !important;
        padding-left: 5px !important;
        padding-top: 28px !important;
        margin-bottom: 5px !important;
    }

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #dee2e6 !important;
}

.select2-container--default .select2-selection--multiple {
    border-color: #dee2e6 !important;
}
/*#endregion */

.color-paypal {
    color: #0079c1 !important;
}

.color-crypto {
    color: #f79413 !important;
}

.text-chromerigs-color {
    color: #b363d6 !important;
}

.btn-chromerigs-color {
    background-color: #b363d6 !important;
    color: #f3e6fc !important;
}

.cls-bg-section {
    background-color: #f3e6fc !important;
}

.cls-image {
    height: 11rem !important;
}

.cls-semi-purp {
    opacity: 90% !important;
}

.cls-more-semi-purp {
    opacity: 50% !important;
}

.navbar-expand-sm .navbar-nav .nav-link {
    color: #000000 !important;
    transition: 0.3s;
}

.navbar-expand-sm .navbar-nav .nav-link:hover {
    color: #b363d6 !important;
    font-weight: bold !important;
    transition: 0.3s;
}

.service-card {
    text-align: center !important;
    background: #fff !important;
    border-radius: 25px !important;
    padding: 2rem 1rem 1rem !important;
}

.service-card .icon i {
    color: #b363d6 !important;
    font-size: 2rem !important;
}

.service-card .title {
    margin-top: 1rem !important;
    font-weight: bold !important;
}

.service-card .text {
    margin-top: 1rem !important;
}

.accordion-button:not(.collapsed) {
    color: #420565;
    background-color: #f3e6fc;
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 #f3e6fc;
}

.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: var(--bs-accordion-btn-focus-box-shadow);
    color: #b363d6 !important;
    font-weight: bold !important;
}

.fs-7 {
    font-size: 0.85rem !important;
}

.social-links .social-link {
    width: 40px;
    height: 40px;
    background-color: #b363d6;
    text-align: center;
    font-size: 1.4rem;
    padding-top: 0.2rem !important;
}



.back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #b363d6;
    text-align: center;
    border-radius: 4px;
    font-size: 1.5rem;
}

    .back-to-top a {
        color: #fff;
        display: block;
        width: 46px;
        height: 46px;
        padding-top: 4px;
    }

    .back-to-top:hover a {
        background: #f3e6fc;
    }

.slick-slide {
    margin-left: 1rem;
    margin-right: 1rem;
}